.App {
  background-color: aquamarine;
}
.App {
  width: 500px;
  margin-left: 50px;
  margin-top: 50px;
}
.picture {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.header {
  display: flex;
  flex-direction: row;
}

.heart {
  color: red;
}
.footer {
  display: flex;
}
.more {
  margin-right: 400px;
}
